\documentclass[${orientation_option}]{anvil-doc}
\definecolor{accent}{HTML}{${signature_color}}
\definecolor{rule}{HTML}{${signature_color}}
\anvildoctitle{${title}}
\anvildocstudio{${studio}}
\anvildocdate{${date}}
\anvildocstage{${stage}}
\begin{document}
\maketitleblock
\herofigure{${hero}}
${body_latex}
\end{document}
